ul {
  display: flex;
  flex-wrap: wrap;
  padding: 10px 20px;
  list-style-type: none;
  gap: 40px;
}
li {
  display: flex;
  flex-direction: column;
  margin: auto;
  padding: 10px 20px;
  border-radius: 8px;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}
p {
  font-size: 20px;
  font-family: sans-serif;
  font-weight: 500;
  margin: 4px 6px;
}
span {
  font-size: 18px;
  font-weight: normal;
}
button {
  color: aliceblue;
  border: none;
  width: 60px;
  height: 30px;
  border-radius: 5px;
  cursor: pointer;
  margin: 6px 10px;
  padding: auto;
}
.edit-button {
  background-color: orange;
}
.delete-button {
  background-color: rgb(211, 9, 9);
}
.button-container {
  align-self: center;
}

@media screen and (max-width: 576px) {
  p {
    font-size: 12px;
  }
  span {
    font-size: 10px;
  }
  button {
    width: 40px;
    height: 20px;
    font-size: 10px;
  }
}
section {
  display: flex;
  flex-direction: column;
}
.left-button {
  background-color: black;
}
.right-button {
  background-color: black;
}
