* {
  margin: 0;
}
.loader-container {
  display: flex;
  justify-content: center;
  width: 100vw;
  height: 80vh;
  align-items: center;
}
.error-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
